<center> <h2 class="fancy"> Where news meets reality.</h2> </center>
<hr>

<ul>
  {{#each model as |article|}}
    {{article-tile article=article}}
  {{/each}}
</ul>

<center> {{new-article save2="save3"}} </center>
